.first-line {
    margin: 0 0 5px 0;
    font-weight: bold;
    font-size: 21px;
}

.second-line {
    margin: 0 0 20px 0;
    font-size: 11px;
    color: lightgray;
}

.fa {
    font-size: 20px;
    width: 20px;
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

footer {
    font-family: cursive;
}